InlayHints:
  Enabled: Yes
  ParameterNames: No
  DeducedTypes: Yes
CompileFlags:
  # need to add the system directories back, otherwise clangd will keep complaining
  Add:
    - "-isystem/usr/include/newlib/"
