[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "src/dht20/dht20-pico"]
	path = src/dht20/dht20-pico
	url = https://github.com/sampsapenna/dht20-pico.git
