InlayHints:
  Enabled: Yes
  ParameterNames: No
  DeducedTypes: Yes
CompileFlags:
  # need to add the system directories back, otherwise clangd will keep complaining
  Add:
    - "-I/usr/include/"
    - "-I/usr/include/x86_64-linux-gnu/"
